##
# Docker Compose config file
##

version: "3.6" # this is the version for the compose file config, not the app

# Rename default network so that it can referenced by Docker containers started
# by other docker-compose.yml files (if any) by using `docker connect`
networks:
  default:
      name: demo-network

# All services should be prefixed with "demo-" to prevent conflict with Docker Compose files from other repositories
# See https://github.com/compose-spec/compose-spec/blob/master/spec.md#depends_on for depends_on conditions
services:
  mockpass-server: # MockPass server
    build:
      context: ./node_modules/@opengovsg/mockpass
      dockerfile: Dockerfile # use this file inside MockPass directory
    ports: # publish ports - external:internal
      - ${MOCKPASS_PORT}:${MOCKPASS_PORT}
    env_file:
      - .env
    command: node index.js # start server
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway

  demo-app: # demo application website
    build:
      context: . # current directory
      dockerfile: Dockerfile # use this file inside current directory
    container_name: demo-app
    ports: # publish ports - external:internal
      - ${DEMO_PORT_EXTERNAL}:${DEMO_PORT_INTERNAL}
    env_file:
      # This imports all env vars from .env into the Docker container, avoiding the need to copy
      # .env in Dockerfile. No need to duplicate the list of env vars manually also, unless the
      # Docker container uses a different name, e.g. MYSQL_USER=${DEMO_DB_USER}
      - .env
    command: node src/index.js # start application
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
