<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo MockPass Login</title>

    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/layout.css">
  </head>

  {{! This is a Mustache.js comment. }}
  <body>
    <div class="container">
      <h2>Demo MockPass Login</h2>

      {{#is_login}}
        <p><a href="{{{singpass_redirect_url}}}">Login using SingPass website</a></p>
        <p><a href="{{{corppass_redirect_url}}}">Login using CorpPass website</a></p>
        <p>
          <a href="{{{myinfo_personal_redirect_url}}}">Retrieve profile from MyInfo Personal</a>
          <br>(select user with "[MyInfo]" on MockPass website and click "Agree" when prompted)
        </p>
        <p>
          <a href="{{{myinfo_business_redirect_url}}}">Retrieve profile from MyInfo Business</a>
          <br>
          (uses MyInfo Business online test server cos local MockPass server does not support it yet,
          select user and click "Agree" when prompted)
        </p>
      {{/is_login}}

      {{^is_login}}
        <p>
          Welcome Back, NRIC/FIN {{user.nric}} {{#user.name}}({{user.name}}){{/user.name}}<br>

          {{#user.uen}}
            <br>Organisation UEN: {{user.uen}}
          {{/user.uen}}

          {{#user.myinfo}}
            <br>Name: {{name}}
            <br>Email: {{email}}
            <br>Mobile: {{mobileno}}
          {{/user.myinfo}}
        </p>

        <p><a href="/demo/web/login">&lt; Back to Login Page</a></p>
      {{/is_login}}
    </div>

    <script src="/public/js/layout.js"></script>
  </body>
</html>
