<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo MockPass Login</title>

    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/layout.css">
  </head>

  {{! This is a Mustache.js comment. }}
  <body>
    <div class="container">
      <h2>Demo MockPass Login</h2>

      {{#is_login}}
        <p><a href="{{{singpass_redirect_url}}}">Login using SingPass website</a></p>
        <p><a href="{{{corppass_redirect_url}}}">Login using CorpPass website</a></p>
        <p>
          <a href="{{{myinfo_personal_redirect_url}}}">Retrieve profile from MyInfo Personal</a>
          <br>(select user with "[MyInfo]" on MockPass website and click "Agree" when prompted)
        </p>
        <p>
          <a href="{{{myinfo_business_redirect_url}}}">Retrieve profile from MyInfo Business</a>
          <br>(uses MyInfo Business sandbox and not local MockPass server, select user and click "Agree" when prompted)
        </p>

        <p>
          <div class="text-center"><i>
            Unfortunately, QR generation only works if domain is registered with SingPass else CORS error
          </i></div>
          <div id="singpass-qr"></div>
        </p>

        <p>
          <div id="corppass-qr"></div>
        </p>
      {{/is_login}}

      {{^is_login}}
        <p>
          Welcome Back, {{user.username}}!<br>

          {{#user.uen}}
            <br>Organization: {{user.uen}}
          {{/user.uen}}

          {{#user.info}}
            <br>Name: {{name}}
            <br>Email: {{email}}
            <br>Mobile: {{mobileno}}
          {{/user.info}}
        </p>

        <p><a href="/demo/login">&lt; Back to Login Page</a></p>
      {{/is_login}}
    </div>

    {{! The NDI script is from https://stg-id.singpass.gov.sg/docs/embedded-auth/js - cannot be self-hosted }}
    <script src="https://stg-id.singpass.gov.sg/static/ndi_embedded_auth.js"></script>
    <script src="/public/js/layout.js" data-nonce="{{nonce}}"></script>
  </body>
</html>
